html{
  margin: 0%;
  padding: 0%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  box-sizing: border-box;
}
.body
{
  font-size: 1.1vw;
  width: 100vw;
  margin: 0%;
  padding: 0%;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

i {
  z-index: 100;
}

.load-slide-left
{
  background-color: white;
  position: relative;
  /* position: absolute; */
  width: 50vw;
  justify-self: flex-end;
  height: 100vh;
  /* top: 0%;
  left: 0%;
  overflow-x: hidden; */
}
.load-slide-right
{
  background-color: white;
  /* position: absolute; */
  position: relative;
  width: 50vw;
  height: 100vh;
  justify-self: flex-start;
  /* top: 0%;
  right: 0%;
  overflow-x: hidden; */
}
@keyframes slide-left{
  100%{
    transform: translateX(-100%);
  }
}

@keyframes slide-right{
  100%{
    transform: translateX(100%);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html::-webkit-scrollbar
{
  width: 18px;
  height: 15px;
  border-radius: 25px;
  padding: 0%;
}
html::-webkit-scrollbar-thumb
{
  border-radius: 25px;
  background-color: rgb(23, 16, 53) ;
}
html::-webkit-scrollbar-track
{
  background-color: transparent;
  border-radius: 25px;
}

.sticky
{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 7.5vw;
  align-items: center;
  position: absolute;
  /* top: 0%;
  left: 0%; */
  z-index: 5;
  position: fixed;
  /* background-color: rgba(246, 246, 252, 0.945); */
  background-color: rgb(223, 223, 247);
  /* background-color: white; */
}

a{
  text-decoration: none;
  color: white;
}
a:active, a:visited, a:hover
{
  text-decoration: none;
  color: white;
  transition: all 1s ease-in-out;
}

h1
{
  font-size: 5vw;
  letter-spacing: 2vw;
  word-spacing: 3vw;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(23, 16, 53);
}


#landing
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0vw;
  height: 100vh;
  width: 100vw;
}
.landing
{
  box-sizing: border-box;
}
.Typewriter
{
  font-size: 2vw;
}
.landing h1
{
  color: rgb(34, 38, 73);
  font-size: 10vw;
  margin-bottom: 3vw;
  margin-top: 6vw;
}
header a 
{
  color: rgb(34, 38, 73) !important;
}

#aboutus, #events
{
  height: 100vh;
  position: relative;
  background-color: white;
  margin-top: 8vw;
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 4;
  justify-content: center;
}
.aboutus::before, .events::before
{
  background-image: url("./images/people.jpg");
  background-repeat: no-repeat;
  background-position: center;
  top: 6vw;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-size: contain;
  opacity: 0.4;
  content: "";
  z-index: -1;
}
.aboutus a, .events a, .load-slide-right a
{
  color: grey;
  position: absolute;
  bottom: 0%;
  right: 0%;
}
.aboutus h1, .events h1
{
  color: rgb(51, 34, 73);
  font-weight: 700;
}
.aboutus-info
{
  display: flex;
  width: 80vw;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-bottom: 2vh;
}

.aboutus-info  div
{
  display: flex;
  flex-direction: column;
  width: 60%;
  /* align-items: center; */
}
.aboutus-info h2, .events-info h2
{
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  letter-spacing: 1.5vw;
  text-align: center;
  margin-top: 8vw;
}
.aboutus-info p, .events-info p
{
  margin-bottom: 6vw;
  text-align: center;
  font-size: 1.5vw;
}
.mt 
{
  background-image: url("./images/shaastra2.png");
  background-position: center;
  background-repeat: no-repeat;
  /* font-weight: 600 !important; */
  background-size: cover;
}
.mt h2 
{
  margin-top: 4vw;
}
.bs-wrapper-flex
{
  display: flex;
  height: fit-content;
  width: 80vw;
  margin: auto;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: center;
}
.three, .one
{
  margin-top: 150px;
}
.flip-card
{
  background-color: #ecd4e7;
  width: 20vw;
  height: fit-content !important;
  perspective: 1000px;
  padding: 2vh 0vw;
  margin-bottom: 20px;
  border-radius: 25px;
}
.flip-card h2
{
  font-weight: 100;
}
.two .flip-card
{
  margin-left: 3vw;
  margin-right: 3vw;
  background-color: #bee5df;
}
.three .flip-card
{
  background-color: #f1e5c3;
}
.flip-card-inner
{
  position: relative;
  width: 20vw;
  height: 22vh !important;
  padding:0;
  margin: 0%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card a
{
  color: black;
}
.flip-card-front, .flip-card-back
{
  box-sizing: border-box;
  position: absolute;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.events-info
{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-bottom: 4vh;
}
.events-info > div
{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.events-info p
{
  text-align: left;
  width: 70%;
}
.mt 
{
  padding: 4vh 0;
}
.mt, .theme-reveal
{
  background-color: rgb(249, 249, 253);
  width: 100vw !important;
}
.mt p , .theme-flex
{
  width: calc(0.6*80vw);
  padding: 10px 0;
  margin: 20px auto;
}
.theme-flex p 
{
  margin: auto;
}
.theme-reveal
{
  height: fit-content;
  justify-content: center;
  align-self: center;
}
.surveySwiper
{
  /* height: 100vh; */
  height: 25vw;
  width: 30vw;
  margin: auto;
  align-self: center;
}
.surveySwiper .swiper-slide
{
  height: 20vw;
  margin: auto;
  width: fit-content;
}
/* .survey-info
{
  text-align: left !important;
} */
/* .survey-div
{
  height: 100vh;
  padding-top: 15vh;
} */
.theme-reveal
{
  align-self: center;
}
/* .theme-reveal
{
  background-color: white;
  width: 100vw;
  margin: 0%;
  align-self: center;
  height: 100vh;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
} */
.competition
{
  height: fit-content;
  /* scroll-snap-align: start; */
}
.competition-pts div
{
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 12px;
  font-size: 1.2vw;
  text-transform: uppercase;
  position: relative;
}
.competition-flex > p 
{
  width: 42vw;
  /* text-align: left; */
  margin: 0;
}
.competition-pts div:first-child:after, .competition-pts div:nth-child(2)::after, .competition-pts div:nth-child(3)::after
{
  height: 110%;
  width: 10px;
  position: absolute;
  content: "";
  border-left: 5px solid #7d748b;
  top: 100%;
  left: 50%;
}

.competition .button
{
  align-self: center;
  /* background-color: #f1cbe8; */
  background-color: #f1cbe8;
  font-size: 1.5vw;
  border-radius: 10px;
  padding: 20px;
}
.button a 
{
  color: black;
}
.timeline-wrapper
{
  position: relative;
  z-index: 1;
  /* display: flex;
  flex-direction: row !important;
  justify-content: space-between; */
}
.timeline-wrapper::after
{
  z-index: -1;
  content: "";
  background-color: #f1cbe8;
  width: 100%;
  height: 6px;
  position: absolute;
  top: 65%;
  overflow-x: hidden;
}
.timeline p:first-child
{
  font-weight: bolder;
  height: calc(0.3 * 20vw);
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline p
{
  margin: 0%;
  text-align: center;
}
.timeline-date
{
  background-color: rgb(23, 16, 53);
  color: white;
  text-align: center;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.partners
{
  width: 100vw;
  /* padding: 0 20vw; */
  background-color: rgb(249, 249, 253);
  padding-top: 20vh;
  padding-bottom: 10vh;
  margin-top: 15vh;
  margin: auto;
  /* scroll-snap-align: start; */
}
.partners h1 
{
  width: 80%;
  margin-bottom: 10vh !important;
  text-align: center;
  margin: auto;
}
/* .partners .card 
{
  height: fit-content;
  width: 20vw;
  background-color: rgb(23, 16, 53);
  color: white;
  padding: 20px;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
} */
/* .partners .flip-card, .partners .flip-card-inner
{
  height: fit-content;
} */
.partners .swiper-slide
{
  text-align: center;
  justify-self: center;
}
.partners .swiper-wrapper
{
  padding: 50px;
}
/* .partners .flip-card
{
  border-radius: 0%;
  margin-right: 0%;
  border-bottom: 6px solid rgb(23, 16, 53);
} */
.prev h1 
{
  width: 80%;
  margin: auto;
  color: rgb(23, 16, 53);
}
.prev .swiper-container
{
  width: fit-content;
  margin: 20px auto;
}
.prev .swiper-wrapper
{
  padding: 0;
  width: 80vw;
  margin:0;
}
.prev .swiper-slide
{
  /* background-position: center;
  background-size: cover; */
  width: 22vw;
  /* height: 300px; */
  /* height: fit-content; */
  height: 50vh;
  background-color: rgb(198, 219, 226);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  text-align: center;
  padding: 20px;
  justify-self: center;
  border-radius: 25px;
  /* margin-right: 0% !important; */
}

.prev{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  /* background-color: white; */
  margin: auto;
  padding-top: 20vh;
  /* scroll-snap-align: start; */
  padding-bottom: 2vh;
}
.prev h1:last-child{
  align-self: flex-end;
  text-align: right;
}

.contact
{
  overflow: hidden;
  color: white;
  position: relative;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  /* scroll-snap-align: start; */
  padding-top: 5vh;
}
.contact-bg{
  position: absolute;
  width: 110vw;
  left: -5vw;
  top: 50vh;
  height: 80vh;
  z-index: -1;
  content: "";
  border-radius: 100% 90% 10% 10%;
  background-color: rgb(34, 38, 73);
}
.contact > p
{
  /* margin: 10vw auto; */
  width: 50%;
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
  width: 80%;
  font-size: 2vw;
}
.contact > p:last-child
{
  text-align: center;
  color: white;
  font-size: 1vw;
  margin-bottom: 4vh;
  justify-self: flex-end;
}
.follow 
{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  width: 30vw !important;
  justify-content: space-between;
  margin-bottom: 20px !important;  
}
.contact h1
{
  margin: auto;
  margin-bottom: 15vh;
  width: 80%;
  text-align: center;
  padding-top: 5vh;
}
.poc div
{
  color: aliceblue;
  text-align: center;
  padding: 15px;
  display: flex;
  font-size: 1.4vw;
  flex-direction: column;
  margin-bottom: 30px;
}

#particles-js
{
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  content: "";
  width: 100vw;
  z-index: -2;
  overflow-x: hidden;
}

@media screen and (max-width: 1500px)
{
  .aboutus-info h2, .events-info h2
  {
    font-size: 4vw;
  }
  .body, .aboutus-info p, .events-info p
  {
    font-size: 2.5vw;
  }
  .landing .chakra-image
  {
    width: 20vw;
  }
  header 
  {
    font-size: 2vw;
    flex-direction: column;
    justify-content: center !important;
  }
  .sticky
  {
    height: 20vw;
  }
  .header-image .chakra-image
  {
    width: 20vw;
    height: auto;
  }
  .header-menu
  {
    padding: 2px !important;
    width: 98vw !important;
    margin: 0 auto;
  }
  .flip-card
  {
    font-size: 2vw;
  }
 .survey-flex, .theme-flex
 {
   flex-direction: column !important;
   text-align: center !important;
   margin: auto;
 }
 .theme-reveal h2 
 {
   padding-top: 10vh;
 }
 .theme-flex p 
 {
   margin: auto;
    margin-bottom: 4vh;
 }
 .surveySwiper .chakra-image, .surveySwiper .swiper-slide, .theme-reveal .chakra-image
 {
   width: 40vw;
   height: auto;
 }
 .partners .chakra-image
 {
   width: 30vw;
   height: auto;
 }
.surveySwiper .swiper-slide
 {
   justify-content: center;
   align-items: center;
   display: flex;
 }
 .surveySwiper
 {
   width: 80vw !important;
   height: 50vw;
   margin-bottom: 20vw;
 }
 .theme-pic-flex
 {
   width: 80vw;
   margin-bottom: 20vw !important;
   height: 40vh !important;
   justify-content: space-between !important;
 }
 .bs-wrapper-flex
 {
   overflow-x: scroll;
 }
  .competition-pts div
  {
    width: 30vw;
    font-size: 2vw;
  }
  .competition-pts
  {
    height: 40vh;
    margin: auto 0 !important;
  }
  .timeline p
  {
    font-size: 2vw;
  }
  .partners
  {
    margin-bottom: 0%;
  }
 .prev h2, .prev p
  {
    width: 80%;
    margin: auto;
    font-size: 2vw;
  }
  .prev > h1
  {
    font-size: 6vw !important;
  }
  .prevSwiper, .prev .swiper-container
  {
    width: 80vw !important;
  }
  .prev .swiper-slide
  {
    /* transform: translateX(15vw) !important; */
    height: 30vh;
    width: 60vw !important;
  }
  .prev .swiper-wrapper
  {
    transform-style: unset !important;

  }
  .prev 
  {
    padding: 0%;
  }
  .contact
  {
    height: 60vh;
    padding-bottom: 10px;
  }
  .contact p, .contact div, .contact p:last-child
  {
    font-size: 3vw;
  }
  .contact-bg
  {
    top: 30%;
    height: 50vh;
  }
  .load-slide-left .chakra-image
  { 
    left: 0vw ;
  }
  .load-slide-right .chakra-image
  {
    right: 0vw ;
  }
}

@media screen and (max-width: 850px)
{
  .flip-card, .two .flip-card, .flip-card-inner
 {
   height: 40vh !important;
 }
}
@media screen and (max-width: 800px)
{
  .flip-card, .two .flip-card, .flip-card-inner
 {
   height: 40vh !important;
   /* font-size: 3vw !important; */
   width: 80%;
   border-radius: 0%;
   margin: auto ;
   margin-bottom: 10px;
   text-align: center;
 }
 .bs-wrapper-flex
 {
   width: 100vw;
   height: fit-content;
   flex-direction: column;
 }
 .three
  {
    margin: 0;
  }
  .theme-reveal
  {
    height: 250vh;
    padding-top: 0%;
  }
  .theme-reveal h2 
  {
    margin-top: 20px;
    padding-top: 0%;
  }
  .competition h2
 {
   margin-top: 15vh;
 }
 .competition p 
 {
   width: 90%;
   text-align: center;
 }
 .competition-flex 
 {
   flex-direction: column;
   align-items: center;
 }
 .competition-pts
 {
   height: 100vh;
   width: fit-content !important;
   margin: auto;
   margin-top: 5vh !important;
 }
 .competition-pts div 
 {
   font-size: 3vw;
   width: 60vw;
 }
 .timeline-wrapper, .timeline
 {
   flex-direction: column;
   text-align: center;
   margin-top: 20px;
   align-items: center;
   margin-bottom: 4vh;
   height: 100vh;
   width: 80vw !important;
 }
 /* .timeline
 {
   flex-direction: row !important;
 } */
 .timeline p 
 {
   font-size: 2.6vw !important;
 }
 .timeline-wrapper::after
 {
   background-color: transparent;
 }
 /* .timeline, .timeline-date
 {
   width: fit-content;
   margin: auto;
 } */
 .timeline-date
 {
   width: 75vw !important;
   margin: auto;
   padding: 10px;
 }
 .prev .swiper-slide
 {
   width: 65vw !important;
   height: 55vh;
  }
  .prev .swiper-container
  {
    width: 80vw !important;
    padding-top: 5vh !important;
    height: 65vh;
  }
  .prev
  {
    margin-bottom: 25vw;
    position: relative;
    height: fit-content;
  }
  .contact
  {
    height: 120vh;
    padding-bottom: 10px;
  }
  .contact p, .contact div, .contact p:last-child
  {
    font-size: 3vw;
  }
  .contact-bg
  {
    top: 20%;
    height: 100vh;
  }
}


@media screen and (max-width: 550px)
{
  .body
  {
    font-size: 4vw;
  }
  .home-btns .css-1o65u5e
  {
    padding: 4vw;
  }
  .home-btns
  {
    margin-top: 10vh !important;
  }
  .Typewriter
  {
    font-size: 4vw;
    padding: 0 10px;
  }
  header 
  {
    font-size: 2vw;
  }
  /* .header-image .image 
  {
    size: ;
  } */
  .header-menu
  {
    padding: 0;
    width: 90vw !important;
  }
  .landing .chakra-image:first-child
  {
    width: 15vw;
  }
  .aboutus-info p, .events-info p  
  {
    font-size: 4vw;
    width: 80vw;
    margin: auto;
    text-align: center;
  }
  .aboutus-info > div
  {
    width: 80vw;
  }
  .partners h2, .contact p, .competition .button, .prev p
  {
    font-size: 4vw !important;
  }
  .three
  {
    margin: 0;
  }
 .flip-card, .two .flip-card, .flip-card-inner
 {
   width: 80vw;
   /* font-size: 3vw !important; */
   border-radius: 0%;
   margin: auto ;
   margin-bottom: 10px;
   text-align: center;
 }
 .events h1, .aboutus h1, .prev h1, .partners h1
 {
   font-size: 8vw;
 }
 h2, .partners h1, .prev h1, .contact h1
 {
   font-size: 8vw !important;
 }
 .bs-wrapper-flex
 {
   width: 100vw;
   height: fit-content;
   flex-direction: column;
 }
 .survey-div > .css-1ialerq
 {
   flex-direction: column;
 }
 .survey-div .chakra-image , .theme-reveal .chakra-image
 {
   margin: 20px 0;
   width: 70vw;
   justify-self: center;
   align-self: center;
 }
 .theme-reveal
 {
   height: 150vh;
   padding-top: 40px;
 }
 /* .theme-pic-flex
 {
   height: 100vh !important;
 } */
 .surveySwiper, .theme-pic-flex
 {
   height: 60vh !important;
   margin-bottom: 15vh;
 }
 .competition h2
 {
   margin-top: 15vh;
 }
 .competition-flex 
 {
   flex-direction: column;
   align-items: center;
 }
 .competition-pts
 {
   height: 50vh;
   width: fit-content !important;
   margin: auto;
   margin-top: 5vh !important;
 }
 .competition-pts div 
 {
   font-size: 3vw;
   width: 60vw;
 }
 .timeline-wrapper, .timeline
 {
   flex-direction: column;
   text-align: center;
   margin-top: 20px;
   align-items: center;
   margin-bottom: 4vh;
   width: 80vw !important;
   height: 50vh;
 }
 /* .timeline
 {
   flex-direction: row !important;
 } */
 .timeline-wrapper::after
 {
   background-color: transparent;
 }
 /* .timeline, .timeline-date
 {
   width: fit-content;
   margin: auto;
 } */
 .timeline-date
 {
   width: 75vw !important;
   margin: auto;
   padding: 10px;
 }
 .partners .swiper-slide
 {
   transform: translateX(-15%);
 }
 .partners h1 
 {
   margin-bottom: 0% !important;
 }
 .partner-flex 
 {
   flex-direction: column;
   width: fit-content !important;
   height: 60vh !important;
   justify-content: space-evenly !important;
 }
 .partner-flex img 
 {
   height: auto !important;
   width: 100% !important;
 }
 .partners .chakra-image
 {
   width: 200px;
   height: 200px;
 }
 .prev .swiper-slide
 {
   width: 85vw !important;
   height: 45vh;
  }
  .prev .swiper-container
  {
    width: 100vw !important;
    
  }
  .prev
  {
    margin-bottom: 25vw;
    position: relative;
  }
  .prev h1:first-child
  {
    text-align: center;
  }
  .prev h1:last-child
  {
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .contact > p:first-child
  {
    margin-bottom: 4vw;
  }
  .contact
  {
    height: 120vw;
  }
  .contact .follow
  {
    width: 50vw !important;
  }
  .contact > h1 
  {
    margin-bottom: 50px;
  }
  .contact-bg
  {
    top: 30%;
    border-radius: 0%;
    height: 150vw;
  }
  .poc 
  {
    width: 80vw !important;
  }
  .poc div
  {
    font-size: 5vw ;
    padding: 10px;
  }
}

@media screen and (max-width: 300px)
{
  .contact-bg
  {
    top: 40%;
  }
  .contact
  {
    height: 130vw;
  }
  .partner-swiper .swiper-slide
  {
    height: 50vw;
    width: 50vw;
  }
  .competition-pts, .theme-pic-flex
  {
    height: 30vh !important;
  }
  .competition-pts div
  {
    padding: 5px;
  }
  .timeline-wrapper p
  {
    font-size:4.5vw ;
  }
}